body {
    background-color: #132029;
    color: white;
}

.card {
    background-color: #142936;
    border: 1px solid #19bc9b;
    border-radius: 15px;
}

.card-header {
    background-color: #19bc9b;
    border-bottom: 1px solid #19bc9b;
}

.text-green {
    color: #19bc9b;
}

.border-green {
    border-color: #19bc9b;
}

.btn-green {
    background-color: #19bc9b;
    border-color: #19bc9b;
    color: #1a1d21;
}

.btn-green:hover {
    background-color: #132029;
    border-color: #19bc9b;
    color: #fff;
}
